{% extends 'base2.html' %}
{% load static%}
{%load crispy_forms_tags%}
{%block title_block%} Profile {%endblock%}
{% block body_block %}

<div class="container rounded bg-white mt-5 mb-5">
        <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                        <div class="col-md-4 border-right">
                                <div class="profile-img">
                                        {% if user.profile.image %}
                                        <img id="previewImage" src="/media/{{ user.profile.image }}" alt="" />
                                        {% else %}
                                        <img id="previewImage" src="{% static 'assets/images/profile/default.png'%}" alt="" />

                                        {% endif %}
                                        <div class="file btn btn-lg btn-primary">
                                                Change Photo
                                                <input type="file" name="image" id="photoInput" oninput="previewImage()" />
                                       
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-6 border-right">
                                <div class="p-3 py-5">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                                <h4 class="text-right">Profile Update </h4>
                                        </div>
                                        <div class="row mt-2">
                                                <div class="col-md-12"><label class="labels">Full Name</label><input
                                                                type="text" class="form-control" name="full_name"
                                                                placeholder="full name"
                                                                value="{{ profile_instance.full_name }}"></div>
                                        </div>
                                        <div class="row mt-3">
                                                <div class="col-md-12"><label class="labels">Address</label><input
                                                                type="text" class="form-control" name="address_1"
                                                                placeholder="enter your address"
                                                                value="{{ profile_instance.address_1 }}"></div>
                                                <div class="col-md-12"><label class="labels">Country</label><input
                                                                type="text" class="form-control" name="country"
                                                                placeholder="enter your country"
                                                                value="{{ profile_instance.country }}"></div>


                                        </div>
                                        <div class="row mt-3">
                                                <div class="col-md-6"><label class="labels">City</label><input
                                                                type="text" class="form-control" name="city"
                                                                placeholder="city" value="{{ profile_instance.city }}">
                                                </div>
                                                <div class="col-md-6"><label class="labels">Postal Code</label><input
                                                                type="text" class="form-control" name="zipcode"
                                                                value="{{ profile_instance.zipcode }}"
                                                                placeholder="postal code"></div>
                                        </div>
                                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button"
                                                        type="submit">Save Profile</button></div>
                                </div>
                        </div>
                        <div class="col-md-2">

                        </div>
                </div>

        </form>


</div>



{% endblock %}